.container {
  width: 400px;
  margin: 60px auto;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}

/* 비밀번호 찾기 성공 */
/* 공지 */
.successNoticeContent {
  text-align: center;
  font-size: 15px;
  padding-top: 40px;
  color: #fff;
}

/* 버튼 */
.successBtnContent {
  margin: 22px auto;
  width: 200px;
  height: 52px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #0d6efd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 비밀번호 찾기 */
/* 제목 */
.titleContent {
  font-size: 32px;
  border-bottom: 2px solid #495057;
  padding-bottom: 41px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

/* 공지 */
.noticeContent {
  font-size: 14px;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #adb5bd;
}

/* 번호 및 이메일 입력 공통 스타일 */
.phoneInputContent,
.emailInputContent {
  padding-top: 10px;
  padding-bottom: 14px;
}

.inputTitleContent {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}

.inputField {
  font-size: 15px;
  line-height: 22px;
  border: none;
  outline: none;
  width: 400px;
  padding: 8px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #495057;
  background-color: transparent;
  color: #fff;
}

.inputField::placeholder {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
}

.inputField:focus {
  border-bottom: 2px solid #0d6efd;
}

.inputField:focus::placeholder {
  opacity: 0;
}

/* 버튼 */
.btnActive {
  margin-top: 44px;
  width: 400px;
  height: 52px;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: #0d6efd;
  color: #fff;
  cursor: pointer;
}

.btnInactive {
  margin-top: 44px;
  width: 400px;
  height: 52px;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: default;
}
