/* productDetailImage.module.css */
.detailImgForm {
  width: 560px;
}

.detailImgContainer {
  width: 560px;
  position: sticky;
  top: 130px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}

.detailImgInfo {
  margin-top: 20px;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(7, 62.85px);
  gap: 20px;
}

.mainImage {
  width: 560px;
  height: 560px;
  object-fit: cover;
  background-color: #f4f4f4;
}

.colorThumbnail {
  width: 62.85px;
  height: 62.85px;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: opacity 0.2s;
}

.colorThumbnail:hover {
  opacity: 0.8;
}

.customCarousel :global(.carousel-control-prev-icon),
.customCarousel :global(.carousel-control-next-icon) {
  width: 30px;
  height: 30px;
}

.customCarousel :global(.carousel-control-prev),
.customCarousel :global(.carousel-control-next) {
  opacity: 1;
  filter: invert(1);
}

/* Carousel이 여러 이미지를 동시에 보여주는 것을 방지 */
.customCarousel :global(.carousel-inner) {
    width: 100%;
    height: 100%;
  }
  
  .customCarousel :global(.carousel-item) {
    width: 100%;
    height: 100%;
  }