@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

.detailHeaderContainer {
  width: 100%;
  top: 0;
  background-color: white;
  height: 110px;
  position: fixed;
  justify-content: center;
  z-index: 2;
}

.scrollContainer {
  display: flex;
  justify-content: center;
  height: 90px;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.italic {
  font-family: "Rowdies", sans-serif;
  font-style: italic;
}
