.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  width: 520px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
}

.modalTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  line-height: 1;
}

.modalBody {
  padding: 20px 30px 30px;
}

.formGroup {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.errorLabel {
  color: red;
}

.input,
.nameInputTxt,
.nameInputNullTxt {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  line-height: 22px;
  padding: 8px 0;
  box-sizing: border-box;
}

.nameInputNullTxt {
  color: rgba(128, 128, 128, 0.7);
}

.errorInput {
  border-bottom-color: red;
}

.errorText {
  color: red;
  font-size: 11px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.postCodeContainer {
  display: flex;
  gap: 10px;
}

.postCodeContainer input {
  flex-grow: 1;
}

.searchButton {
  width: 85px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

/* 체크박스 스타일 */
.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
}

.checkbox {
  margin-right: 8px;
  cursor: pointer;
}

.checkboxLabel {
  font-size: 14px;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.cancelButton,
.saveButton {
  width: 120px;
  height: 45px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.cancelButton {
  background-color: white;
  color: grey;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.saveButton {
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
}

.disabledButton {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}
