.modalOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  z-index: 1001;
  background-color: white;
  position: fixed;
  width: 520px;
  height: 620px;
  border-radius: 20px;
}

.modalHeader {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.modalTitle {
  width: 420px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
}

.closeButton {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 30px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 8px;
  background-color: white;
  cursor: pointer;
}

.formContainer {
  width: 460px;
  height: 450px;
  margin-left: 30px;
  margin-top: 10px;
}

.formLabel {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.formLabelError {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: red;
  margin-bottom: 5px;
}

.inputContainer {
  margin-top: 5px;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  line-height: 22px;
  padding: 8px 0;
}

.inputError {
  width: 100%;
  border: none;
  border-bottom: 1px solid red;
  font-size: 15px;
  line-height: 22px;
  padding: 8px 0;
}

.errorMessage {
  color: red;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  height: 10px;
}

.spacer {
  height: 10px;
}

.postcodeContainer {
  margin-top: 5px;
  display: flex;
}

.name_input_txt {
  width: 370px;
  border: none;
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  line-height: 22px;
  padding: 8px 0;
}

.name_input_null_txt {
  width: 370px;
  border: none;
  border-bottom: 1px solid #ebebeb;
  font-size: 15px;
  line-height: 22px;
  padding: 8px 0;
  color: rgba(128, 128, 128, 0.7);
}

.postcodeButton {
  width: 85px;
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background-color: white;
  margin-left: 5px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  margin-top: 30px;
  margin-left: 105px;
}

.cancelButton {
  width: 120px;
  height: 45px;
  font-size: 14px;
  color: grey;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
}

.saveButton {
  width: 120px;
  height: 45px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.disabledButton {
  width: 120px;
  height: 45px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 10px;
  cursor: not-allowed;
}

.addressButton {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 650px;
  margin-top: 10px;
  height: 50px;
  background-color: #f4f4f4;
  border-radius: 10px;
  cursor: pointer;
}

.addressButtonText {
  color: grey;
  text-align: left;
  margin-left: 12px;
  line-height: 50px;
}
